<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:160px">
    <ul style =" margin-top:50px; font-size:20px;font-weight: bold;">
        <li>
            <%= link_to "User", admin_users_path%>
        </li>
         <li>
            <%= link_to "Product", admin_productions_path%>
        </li>
         <li>
            <%= link_to 'Home', root_path%>
        </li>
    </ul>
</div>